<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KBase Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="libs/css/search.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
    <link href="libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Icon -->
    <link rel="shortcut icon" href="libs/bootstrap/img/favicon.ico">
  </head>

  <body>

    <!-- Genome Browser page header -->
    <div class="container" style="padding-bottom: 20px">
      <div class="row" style="height: 86px; position:relative">
        <div class="span6">
          <a href="http://www.kbase.us">
            <img src="libs/bootstrap/img/Kbase_Logo.png" style='padding-left:0px;'/>
          </a>
        </div>
        <div class="span7 offset5" style="position: absolute; text-align:right; bottom: -10px">
          <p class="lead" style="font-size: 36px">
          <!--b>KBase Search Tool <img src="libs/bootstrap/img/beta_logo.png" style='vertical-align:super;width:16px;height:auto;'/></b -->
          <b>KBase Search <img src="libs/bootstrap/img/Beta30.png" style='vertical-align:super;'/></b>
          </p>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>
    <!-- End of page header -->

    <!-- Target container for Genome info table -->
    <div class="container">
      <div class="row">
        <form class="form-wrapper" action='searchProcess' method='post' style='margin:auto;'>
          <input type="text" id="search" placeholder="Search for Features ..." required name='keyword'>
          <input type="submit" value="go" id="submit">
        </form>

      </div>
      <div class='row' style='margin-left:20px; border-bottom:1px solid #ccc;padding:20px;margin-top:30px;'>
        Searched for <span class="label label-info">Features: <%= keyword %></span> found <b><%= size %></b> results.<br/>
        Now showing <b>
          <% 
            if (size < 10 ) {
            %>  <%= size %> <%
            }else
            {
            %> 10
            <%
            }
          %> 
          </b> results.
      
      </div>
      <div class='row' style='margin-left:30px;'>
        <% for(var i=0; i < results.length; i++) { %>

        <div style='border-bottom:1px solid #eee;padding-bottom:10px;'>
          <div style='float:left;padding-top:12px;'> <%= i+1 %>. &nbsp; </div> <h3><%= results[i].function %><small> <%= results[i].feature_type %></small></h3>
          <span style='padding-left:30px;'> 
            <% if ( results[i].alias != null || results[i].alias != undefined ) { %> alias: <%= results[i].alias %> | <% } %> Sequence Length: <%= results[i].sequence_length %> 
          </span>
        </div>
        <% } %>
      </div>

      <div class='row'>
        <div class="pagination pagination-centered">
          <ul>
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of genome info table container -->


    <!-- Footer for genome info pages -->
    <div class="container">
      <footer style="border-top:4px solid rgb(0, 0, 0); padding: 20px; margin-top:20px;">
        <div align=center>
          <div class="container"> 
            <div class="copyright">
              <p>
                <a href="http://www.science.energy.gov/">
                  <img src="libs/bootstrap/img/doe_logo.png" />
                </a> 
                <a class="share-icon" href="http://www.facebook.com/pages/DOE-Systems-Biology-Knowledgebase/148332628600806">
                  <img src="libs/bootstrap/img/facebook.png" alt="facebook" />
                </a>
                <a class="share-icon" href="http://twitter.com/DOEKbase">
                  <img src="libs/bootstrap/img/twitter.png" alt="twitter" />
                </a>
              </p>
              <p class="sponsor">KBase is sponsored by the U.S. Department of Energy's<br/><a href="http://science.energy.gov/ber/">Office of Biological and Environmental Research</a></p>
              <p><a href="http://www.anl.gov/notice.html">Privacy and Security Notice</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- End of page footer -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="libs/bootstrap/js/jquery-1.8.3.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
