<% include header.html %>

    <!-- Target container -->
    <div class="container">
      <div class="row">
        <form class="form-wrapper" action='<%= type %>' method='post' style='margin:auto;'>
          <input type="text" id="search" placeholder="Search for <%=: type | upcase %> ..." required name='keyword'>
          <input type="submit" value="go" id="submit">
        </form>

      </div>
      <div class='row' style='margin-left:20px; border-bottom:1px solid #ccc;padding:20px;margin-top:30px;'>
        Searched for <span class="label"><%=: type | upcase %> : <%= keyword %></span> found <b><%= size %></b> results.<br/>
        Now showing <b>
          <% 
            if (size < 10 ) {
            %>  <%= size %> <%
            }else
            {
            %> 10
            <%
            }
          %> 
          </b> results.
      
      </div>
      <div class='row' style='margin-left:30px;'>
        <% for(var i=0; i < results.length; i++) { %>

        <div style='border-bottom:1px solid #eee;padding-bottom:10px;'>
		<div style='float:left;padding-top:12px;'> <%= i+1 %>. &nbsp; </div> <h3><%= results[i].function %>
			<span class="label label-info"> Gene </span>		</h3>
          <span style='padding-left:30px;'> 
            Sequence Length: <strong><%= results[i].sequence_length %></strong>
          </span>
        </div>
        <% } %>
      </div>

      <div class='row'>
        <div class="pagination pagination-centered">
          <ul>
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End container -->

<% include footer.html %>
