<% include header.html %>
<link href="/services/search/libs/css/common.css" rel="stylesheet"> 

<style>
  .sideElem {
    font-size: 11px;
  }
</style>

      <div class="jumbotron" style='margin:0px 0px 0px 0px;'>
        <h1>KBase Search<small><img src='/services/search/libs/imgs/beta.gif'/></small></h1>
        <dir class='row'>
          <div class="input-append">
            <form class="form-wrapper" action='/services/search/process' id='searchForm' method='post' >
              <input class="span2" id="appendedInputButtons" name='keyword' type="text" style='width:400px;'>
              <button class="btn" type="button" id='search' >Search</button>
              <button class="btn" type="button" id='advanced' >Advanced</button>
            </form>
          </div>
        </div>

        <div class='row' style='margin-left:20px; border-bottom:1px solid #ccc;padding:20px;margin-top:5px;padding-top:0px;'>
          Searched for <span class="label label-info"><%= keyword %></span> found <b><span id='totalcount'><%= size %></span></b> results.<br/>
          Now showing <b>
            <% 
              if (size < 10 ) {
              %>  <%= size %> <%
              }else
              {
              %> 10
              <%
              }
            %> 
            </b> results.
        
        </div>

        <div class='badges' style='padding: 5px 0px 10px 30px;'>
          <span class="badge badge-important"><%= keyword %> <a href='*'><i class="icon-remove"></i></a></span>
          <span class="badge badge-important"><%= type %> <a href='/services/search/processget/<%= keyword %>'><i class="icon-remove"></i></a></span>
        </div>

        <div class="row" style='padding-top:15px;padding-left:5px;'>
          <div class="span8">
          
            <div class='results'>
              <% 
              
              var item = parseInt(start);
              for(var i=0; i < results.length; i++) { %>

              
              <div style='border-bottom:1px solid #eee;padding-bottom:10px;'>
                  <blockquote>
                <div style='float:left;padding-top:0px;'> <%= item+i %>. &nbsp; </div> 
                <h4><%= results[i].scientific_name %></h4>
                <span class="label label-info"><%= type %> </span>
                <span style='padding-left:30px;'> 
                  Contigs: <strong><%= results[i].contigs %></strong> &nbsp; &nbsp; 
                  RNA Features: <strong><%= results[i].rnas %> </strong> &nbsp; &nbsp; 
                  Protein Encoding Genes: <strong><%= results[i].pegs %></strong>  &nbsp; &nbsp; 
                  <small>
                  Genome Size: <strong><%= results[i].dna_size %> bp </strong> &nbsp; &nbsp; 
                  GC Content: <strong><% var gc =  results[i].gc_content %> <%= Number(gc).toFixed(2) %> %</strong> 
                  </small>
                  <a href='/services/search/genomedetails/<%= results[i].gid %>?type=<%= type %>'>Details</a>
                  </blockquote>
                </span>
              </div>
              <% } %>
            </div>

            <div class='row'>
              <div class="pagination pagination-centered">
                <ul>
                  <!--
                  <li class="disabled"><a href="#">«</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                  -->

            <% 

              var rowsize = 10;
              var pageCount = 1;
              var initialPageCount = pageCount;
              var item = parseInt(start);
              for ( var i = 0; i < size; i = i + rowsize  ) {
                var highlightrow = '';

                if ( item == i + 1) highlightrow = 'active';

                if ( pageCount == initialPageCount + 5 ) {

                %> <li class='<%= highlightrow %>' ><a href="/services/search/<%= qcall %>/<%= keyword %>?start=<%= i+1 %>&count=<%= rowsize %>">»</a></li> <%

                  break;

                }

                if ( (size - i ) < rowsize ) {
                  // Last
                  
                  %> <li class='<%= highlightrow %>' ><a href="/services/search/<%= qcall %>/<%= keyword %>?start=<%= i+1 %>&count=<%= rowsize %>">Last</a></li> <%
                } else {
                %> <li class='<%= highlightrow %>' ><a href="/services/search/<%= qcall %>/<%= keyword %>?start=<%= i+1 %>&count=<%= rowsize %>"><%= pageCount %></a></li> <%
                }
                pageCount = pageCount + 1;

              }
            %> 
                </ul>
              </div>
            </div>
          </div>


      </div>

<% include footer.html %>


<script type="text/javascript">

$(".results").highlight("<%= keyword %>");

</script>
