<% include header.html %>


      <div class="jumbotron" style='margin:0px 0px 0px 0px;'>
        <h1>KBase Search</h1>
        <dir class='row'>
          <div class="input-append">
            <form class="form-wrapper" action='/process' id='searchForm' method='post' >
              <input class="span2" id="appendedInputButtons" name='keyword' type="text" style='width:400px;'>
              <button class="btn" type="button" id='search' >Search</button>
              <button class="btn" type="button" id='advanced' >Advnaced</button>
            </form>
          </div>
        </div>

        <div class='row' style='margin-left:20px; border-bottom:1px solid #ccc;padding:20px;margin-top:5px;padding-top:0px;'>
          Searched for <span class="label label-info"><%= keyword %></span> found <b><span id='totalcount'>0</span></b> results.<br/>
          Now showing <b> 
            <% 
              if (size < 10 ) {
              %>  <%= size %> <%
              }else
              {
              %> <%= rowcount %>
              <%
              }
            %> 
            </b> results.
        
        </div>

        <div class="row" style='padding-top:15px;padding-left:5px;'>
          <div class="span2">
            <div>
              <blockquote>
              <p><i class="icon-search"></i> Results</p>
              </blockquote>

              <h6>Literature</h6>
              <blockquote>
              <p><a href='/literature/<%= keyword %>'><span class='sideElem'>Pubmed <span id='literaturecount'></span></span></a></p>
              </blockquote>

              <h6>Genomes</h6>
              <blockquote>
              <p><a href='/bacteria/<%= keyword %>'><span class='sideElem'>Bacteria <span id='bacteriacount'></span></span></a></p>
              <p><a href='/viruses/<%= keyword %>'><span class='sideElem'>Viruses <span id='virusescount'></span></span></a></p>
              <p><a href='/eukaryota/<%= keyword %>'><span class='sideElem'>Eukaryota <span id='eukaryotacount'></span></span></a></p>
              <p><a href='/archaea/<%= keyword %>'><span class='sideElem'>Archaea <span id='archaeacount'></span></span></a></p>
              </blockquote>

              <h6>Function</h6>
              <blockquote>
              <p><a href='/gene/<%= keyword %>'><span class='sideElem'>Genes <span id='genecount'></span></span></a></p>
              <p><a href='/locus/<%= keyword %>'><span class='sideElem'>Locus <span id='locuscount'></span></span></a></p>
              <p><a href='/prophage/<%= keyword %>'><span class='sideElem'>Prophage <span id='prophagecount'></span></span></a></p>
              <p><a href='/pseudogene/<%= keyword %>'><span class='sideElem'>Pseudo Gene <span id='pseudogenecount'></span></span></a></p>
              </blockquote>

              <h6>Regulation</h6>
              <blockquote>
              <p><a href='/promoter/<%= keyword %>'><span class='sideElem'>Promoter <span id='promotercount'></span></span></a></p>
              <p><a href='/operator/<%= keyword %>'><span class='sideElem'>Operator <span id='operatorcount'></span></span></a></p>
              <p><a href='/proteinbindingsite/<%= keyword %>'><span class='sideElem'>Protein Binding Sites <span id='proteinbindingsitecount'></span></span></a></p>
              <p><a href='/bindingsite/<%= keyword %>'><span class='sideElem'>Binding Sites <span id='bindingsitecount'></span></span></a></p>
              <p><a href='/riboswitch/<%= keyword %>'><span class='sideElem'>Riboswitch <span id='riboswitch'></span></span></a></p>
              </blockquote>

              <h6>RNA</h6>
              <blockquote>
              <p><a href='/rna/<%= keyword %>'><span class='sideElem'>RNAs <span id='rnacount'></span></span></a></p>
              <p><a href='/transposon/<%= keyword %>'><span class='sideElem'>Transposons <span id='transposoncount'></span></span></a></p>
              <p><a href='/mrna/<%= keyword %>'><span class='sideElem'>mRNAs <span id='mrnacount'></span></span></a></p>
              <p><a href='/smallrna/<%= keyword %>'><span class='sideElem'>Small RNAs <span id='srnacount'></span></span></a></p>
              </blockquote>


            </div>

          </div>
          <div class="span6">
          
      <div class='results'>
      <% var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']; %>
        <% for(var i=0; i < results.length; i++) { 
        
        var item = i + parseInt(start);
        
        %>


        <div style='border-bottom:1px solid #eee;padding-bottom:10px;'>
          <span style='padding-left:30px;'> 
            <blockquote>
            <div style='float:left;padding-top:0px;'> <%= item %>. &nbsp; </div> <h4><%= results[i].title %></h4> 
			      <span class="label label-info">Literature</span>
            Published Date: <strong><% var date = new Date( results[i].pubdate * 1000); var formateDate = months[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear(); %> <%= formateDate %> </strong> &nbsp; &nbsp; 
            Pubmed Link: <a href="<%= results[i].link %>" target='_blank' >PUBMED<img src='/libs/imgs/offsite.gif' /></a> &nbsp; &nbsp; </br>
            Abstract <img src='/libs/imgs/right.png' onclick='showAbstract(<%= results[i].pid %>);' />
            </blockquote>
          </span>
        </div>
        <% } %>
      </div>

      <div class='row'>
        <div class="pagination pagination-centered">
          <ul>
            <li class="disabled"><a href="#">«</a></li>
            <!--
            <li class="active"><a href="#">1</a></li>
            <li><a href="/processget/<%= keyword %>?start=11&count=10">2</a></li>
            <li><a href="/processget/<%= keyword %>?start=21&count=10">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
            -->
            <% 

              var rowsize = 10;
              var pageCount = 1;
              var initialPageCount = pageCount;
              var item = parseInt(start);
              for ( var i = 0; i < size; i = i + rowsize  ) {
                var highlightrow = '';

                if ( item == i + 1) highlightrow = 'active';

                if ( pageCount == initialPageCount + 5 ) {

                  %> <li class='<%= highlightrow %>' ><a href="/processget/<%= keyword %>?start=<%= i+1 %>&count=<%= rowsize %>">»</a></li> <%

                  break;

                }

                if ( (size - i ) < rowsize ) {
                  // Last
                  
                  %> <li class='<%= highlightrow %>' ><a href="/processget/<%= keyword %>?start=<%= i+1 %>&count=<%= rowsize %>">Last</a></li> <%
                } else {
                  %> <li class='<%= highlightrow %>' ><a href="/processget/<%= keyword %>?start=<%= i+1 %>&count=<%= rowsize %>"><%= pageCount %></a></li> <%
                }
                pageCount = pageCount + 1;

              }
            %> 

          </ul>
        </div>
      </div>

          
          
          <div>
        </div>

      </div>

<% include footer.html %>


<script type="text/javascript">

var counts = [];

$(".results").highlight("<%= keyword %>");

$(document).ready(function() {
    var protocol = 'https://';
    //var hostname = '192.168.56.101';
    var hostname = 'kbase.us/services/search-api';
    var subdeployment = '/search/';

    var genurl =  protocol + hostname + subdeployment;

    var keyword = '<%= keyword %>';

    var url = '',i = 0;


    //url =  "https://192.168.56.101/search/literaturecount/coli";

    var suburls = [ 
                    'literaturecount'
                   ,'genecount'
                   ,'bacteriacount'
                   ,'virusescount'
                   ,'archaeacount'
                   ,'eukaryotacount' 
                   ,'prophagecount' 
                   ,'operatorcount' 
                   ,'locuscount' 
                   ,'pseudogenecount' 
                   ,'promotercount' 
                   ,'proteinbindingsitecount' 
                   ,'bindingsitecount' 
                   ,'riboswitch' 
                   ,'rnacount' 
                   ,'transposoncount' 
                   ,'mrnacount' 
                   ,'srnacount' 
               ];

        

    for (var i = 0; i < suburls.length; i++) {
      url = genurl + suburls[i] + '/' + keyword;

      $.getJSON(url + "?callback=?", null, function(data) {

          var ele = '#' + data.search;

          $(ele).append('('+data.found + ')');

          counts.push(data.found);

          var cnt = 0;
          for (var j = 0; j < counts.length; j++ ) {
            cnt = cnt + counts[j];
          }

          $('#totalcount').html(cnt);

      });

    }


});
</script>


